
/* background */
body {
    background-color: #a6c2fc ;
    font-family: "Roboto", sans-serif;
    
}

h1{
    color: rgb(73, 97, 176);
}

h2{
    color: hsl(330, 44%, 58%);
}

h3{
    color: lightcoral;
}

nav a{
    color: lightseagreen;
    text-decoration: underline;
}

/*addign margin/ box model*/

section {
    margin: 20px; 
    padding: 20px; 
    border: 1px solid rgb(28, 30, 90);
    border-radius: 5px;
    
}